WebServiceClient/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebServices/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localizacion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localizacion/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://localizacion/" schemaLocation="http://localhost:8080/WebServices/NewWebService?xsd=1" />
</xsd:schema>
</types>
<message name="random">
<part name="parameters" element="tns:random" />
</message>
<message name="randomResponse">
<part name="parameters" element="tns:randomResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="calculator">
<part name="parameters" element="tns:calculator" />
</message>
<message name="calculatorResponse">
<part name="parameters" element="tns:calculatorResponse" />
</message>
<message name="loginuser">
<part name="parameters" element="tns:loginuser" />
</message>
<message name="loginuserResponse">
<part name="parameters" element="tns:loginuserResponse" />
</message>
<message name="smtp">
<part name="parameters" element="tns:smtp" />
</message>
<message name="smtpResponse">
<part name="parameters" element="tns:smtpResponse" />
</message>
<portType name="NewWebService">
<operation name="random">
<input wsam:Action="http://localizacion/NewWebService/randomRequest" message="tns:random" />
<output wsam:Action="http://localizacion/NewWebService/randomResponse" message="tns:randomResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://localizacion/NewWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://localizacion/NewWebService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="calculator">
<input wsam:Action="http://localizacion/NewWebService/calculatorRequest" message="tns:calculator" />
<output wsam:Action="http://localizacion/NewWebService/calculatorResponse" message="tns:calculatorResponse" />
</operation>
<operation name="loginuser">
<input wsam:Action="http://localizacion/NewWebService/loginuserRequest" message="tns:loginuser" />
<output wsam:Action="http://localizacion/NewWebService/loginuserResponse" message="tns:loginuserResponse" />
</operation>
<operation name="smtp">
<input wsam:Action="http://localizacion/NewWebService/smtpRequest" message="tns:smtp" />
<output wsam:Action="http://localizacion/NewWebService/smtpResponse" message="tns:smtpResponse" />
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="random">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="calculator">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="loginuser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="smtp">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/WebServices/NewWebService" />
</port>
</service>
</definitions>